h1.question {
  position: relative;
  top: 80px;
  z-index: 100;
}

h1.answer {
  position: relative;
  top: 0px;
  z-index: 100;
}

div.messages {
  
}

div.post {
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 15px;
}

div.post:nth-child(even) {
  background:lavender;
}

div.post:nth-child(odd) {
  background:gainsboro;
}

div.time {
  font-size: 50px;
}

div.comments {
  cursor: pointer;
  width: 150px;
}

div.tags {

}

input.newQuestion {
}

input.submitQuestion {
  
}

textarea.question {
  resize: none;
  position: relative;
  top: 80px;
}

input.tagbox {
  position: relative;

}

input.duration {
  width: 80px;
}


body{
  background: url(images/texture5.png) repeat top left;
}

#top-container{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 180px;
  color:#CCC;
  z-index: 100;
  background: url(images/texture3.png) repeat;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-color: #c91051;
  box-shadow: 0px 7px 10px #888888;
}

#title{
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  width: 800px;
  height: 130px;
  clear:both;
}

#menu{
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  width: 800px;
  height: 40px;
  clear:both;
}

#search{
  float: right;
  height: 40px; 
}

#post-question{
  float: left;
  height: 40px; 
}

#main{
  height:60%; 
  width:800px; 
  overflow:auto;
  position:absolute;
  left: 50%;
  top: 250px;
  clear: both;
  margin-left: -415px;
  z-index: 90;
  background: #fff;
  background-image: url(images/texture4.png);
  background-repeat:repeat-x repeat-y;
  background-clip: padding-box;
  border: 10px solid rgba(255,255,255,.2);
  border-radius: 2px;
  box-shadow:
    0 0 1px rgba(255,255,255,.8),
    0 0 3px rgba(0,0,0,1),
    1px 1px 0 rgba(0,0,0,.2) inset,
    -1px -1px 0 rgba(0,0,0,.2) inset;
  padding: 15px;  
}

div.post i{
  font-style: bold;
  font-size: 1.5em;
}

div.post p{
  font-size: 0.7em;
  font-style: italic;
}

div.post .comments{
  color: blue;
}
div.time{
  font-size: 2em;
}
/*
body {
  background: #f9e933;
  font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

h2, h4, h6 {
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding: 25px 0 25px 0;
  background: white;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 3em;
  color: #b33;
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

main {
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
}

.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    color: #999;;
    background: #ddd;
    padding: 5px;
    margin: 20px 0 10px 0;
}

h3:first-child {
    margin-top: 0;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}

main .content button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}

main .content p {
    color: red;
    margin: 30px 0 0 0;
}

main .content p:first-child {
    margin-top: 10px;
}

main .content input {
    font-size: 1.5em;
}



footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}

footer .contact {
  float: left;
  width: 570px;    
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

footer .contact p:nth-child(2) {
  color: #b33;
  font-style: italic;
}

footer .sitemap {
    float: right;
    width: 285px;
}

footer ul {
    width: 230px;
}

li {
    list-style: none;
}

footer .sitemap .left {
    float: left;
}

footer .sitemap .right {
    float: right;
}
*/